/***** S:: 변수 *****/
:root {
  /**** !! 코딩시 지우지 말 것 !! ****/

  /* 컬러 */
  --basic: #444;
  --LightFont: #777;

  --black: #222;

  --main: #043673;

  --white: #fff;
  --border: #dddddd;
  --border2: #bbbbbb;
  --grayBg: #f5f5f5;

  --sub: #6c259bff;
  --light: #daa3ffff;

  --pink: #ff5650;

  --blue-dark: #005c91;
  --blue-light: #88c3ff;
  --blue: #0082cd;
  --orange-light: #ffbf7e;
  --orange: #de7300;
  --green: #00973f;

  /* 폰트 */
  --kor: "Pretendard Variable", "Roboto", Malgun Gothic, "Malgun Gothic", sans-serif;
  --eng: "Roboto", "Pretendard Variable", Malgun Gothic, "Malgun Gothic", sans-serif;
  --icon: "Material Symbols Outlined";
  --icon2: "Material Icons";

  /**** !! 코딩시 지우지 말 것 !! ****/

  /* 높이 */
  --vh: 100%;
}
/***** E:: 변수 *****/

/*******************************************************************************
    @media 1350px
*******************************************************************************/
@media all and (max-width: 1350px) {
}

/*******************************************************************************
    @media ~1280px
*******************************************************************************/
@media all and (max-width: 1280px) {
}

/*******************************************************************************
    @media  ~980px               
*******************************************************************************/
@media all and (max-width: 980px) {
}

/*******************************************************************************
    @media 481~680px
*******************************************************************************/
@media all and (max-width: 680px) {
  /***** S:: 변수 *****/
}

/*******************************************************************************
    @media ~480px               
*******************************************************************************/
@media all and (max-width: 480px) {
}
/*******************************************************************************
    @media ~360px
*******************************************************************************/
@media all and (max-width: 360px) {
}
